/* ------------------------------------- Need By, Migration and Activation Date Colors*------------------------------------- */
.range-date {
    background: #a9afad;
}

.not-range-date {
    background-color: rgb(248, 252, 252);
}

.start-date {
    background-color: rgb(252, 209, 42);
}

.end-date {
    background-color: rgb(88, 139, 174);
}

.migration-date {

    background-color: rgb(61, 194, 56);
}

/*------------------------------ Loader ---------------------------------- */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.display-none {
    display: none;
}

/* ------------------------------------------------FOR EXCEL BUTTON AND CLEAR BUTTON--------------------------------- */
.buttons {
    background-color: #00aaf5;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* ---------------------------------------------------------FILTER BOXES--------------------------------------------------- */
/* Title before the filterboxes */
.title-bar {
    display: -webkit-box;
}

.combobox-cls {
    padding: 1px;
    height: 30px;
}

/* ---------------------------------------------------------TABLE STYLES----------------------------------------------------- */
.gant_table {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-collapse: collapse;
    position: relative;
}

.gant_table__header th{
    position: sticky;
    top: 0;
    background-color: #00aaf5;
    color: white;
    text-align: left;
}

.gant_table__second_header {
    /* position: sticky;
    top: 40px; */
    position: sticky;
    top: 0;
    margin-top: 40;
    text-align: left;
}
