.box {
    border: 1px solid #BCBCBC;
        background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}
.finePrint {
    font-size: 9px;  
    color: red;
}
/* To change position of close button to Top Right Corner */
#colorbox #cboxClose
{
    top: 0;
    right: 0;
}
#cboxLoadedContent{
    margin-top:28px;
    margin-bottom:0;
}
.disable {
    pointer-events: none;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.equal {  
    display: -webkit-flex;
    display: flex;
}
.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  .field-msg {
    font-size: 12px;  
    color: red;
}
#hidden_div {
    display: none;
}

.tt-menu {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0;
  }
  
  .tt-suggestion {
    padding: 3px 12px;
    cursor: pointer;
  }
  
  .tt-suggestion:hover {
    background-color: #ddd;
  }
.note-modal .modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 20px);
    box-shadow: none;
}
.modal-content {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
