.headbox {
  background-color: rgb(51, 122, 183);
  color: #fff;
  border-left: 1px solid #fff;
  padding: 4px;
  cursor: default;
}
.ptr:nth-of-type(odd), .oddrow {
    background-color: rgb(233, 233, 233);
}
.ptr:nth-of-type(even), .evenrow {
    background-color: rgb(255, 255, 255);
}
.databox {
  /* background-color: #d9d9d9; */
  color: #000;
  border: 1px solid #888;
  padding: 4px;
  cursor: default;
}
.popover{
    max-width:600px;
}
.header {
  background-color: rgb(51, 122, 183);
  color: #fff;
  font-size: large;
  text-align: left;
  padding:8px 16px;
}
.toppleat {
  color: #000;
  background-color: #eee;
  text-align: left;
  padding: 8px 8px;
  cursor: pointer;
  /* height: 36px; */
}
.accordion-button {
  width: 25%;
  float: right;
}
.a-proj {
  color: #00f;
  font-weight: 700;
}
.toppleat:nth-child(odd) {
  background-color: #fff;
}
@media (max-width:1000px){

  /* Menu BreakPoint */
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {    float: none !important;}
  .navbar-toggle {    display: block;}
  .navbar-collapse {  border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {    top: 0;    border-width: 0 0 1px;}
  .navbar-collapse.collapse { display: none!important;}
  .navbar-nav {float: none!important; margin-top: 7.5px;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a { padding-top: 10px;padding-bottom: 10px;}
  /* .collapse.in{display:block !important;} */
  .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none;}

}
.titles {
  background-color: #337AB7;
  color: #fff;
  border-left: 1px solid #000;
  padding: 4px;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: x-small;
  text-transform:uppercase;
}
.subtitles {
  background-color: #34AEE8;
  color: #fff;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: x-small;
  text-transform:uppercase;
}
.datarow {
    color: #000;
    border: 1px solid #888;
    background-color: #fff;
    cursor: default;
}
.datarow:nth-child(even) {
    background-color: #d9d9d9;
}
.datacell {
    border: 1px solid #888;
    padding: 2px;
    font-size: x-small;
    cursor: default;
    /* text-align: left; */
}
.namebox {
  /* background-color: #fff; */
  color: #00f;
  border: 1px solid #888;
  padding: 4px;
  font-size: x-small;
}
.plainbox {
  /* background-color: #fff; */
  color: #000;
  border: 1px solid rgb(128, 128, 128);
  padding: 4px;
  font-size: x-small;
  cursor: default;
}
.arrows {
  color:black;
  float:left;
  height:100%;
  padding:4px
}
.filtercol {
  display: inline-block;
}
.projecttable {
  margin-top: 15px;
  margin-bottom: 15px;
}
.lightbox {
  /* position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, .3); */
  display:none;
  cursor:pointer
}
#cboxClose {
  top: 0px !important;
}
a {
  color: #00f;
}
body {
  margin:0;
}

.btn-group {
  margin-right: 4px;
}
.fixedheader {
  position:sticky;
  top:65px;
  z-index: 1;
}
.hilite {
  background-color: #fcc;
}
.blulite {
  background-color: #cff;
}
.collapse {
  overflow: initial;
}
.overflow-everything {
  overflow-wrap: anywhere;
  /*min-width: 64px;
  max-width:128px; */
}

.ricontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 32px;

}

.ritile {
  flex: 1 1 478px;
}

.tilehead {
  background-color: rgb(245, 245, 245);
  color: #333;
  border-top: #ddd solid 1px;
  border-right: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  border-radius: 5px 5px 0px 0px;
}

.tilebody {
  background-color: #fff;
  color: #333;
  /* padding: 10px; */
  /* border-top: #000 solid 1px; */
  border-right: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  border-radius: 0px 0px 5px 5px;
}

.active {
  cursor: pointer;
}
.active:hover {
  text-decoration: underline;
}

.pagination {
  /* display: block; */
  /* width: 100%; */
  text-align: center;
  padding: 4px;
  box-shadow: 1px 1px 4px #ddd;
}

.pages {
  display: inline-block;
  padding: 0 6px;
}
.selectedpage {
  background-color: #08f;
  color: #fff;
  border-radius: 3px;
}
.searchfield {
  placeholder: normal;
}

.riskheader {
  background-color: #880;
}
.issueheader {
  background-color: #800;
}
.typecolumn {
  width: 0;
}