.headbox {
  background-color: rgb(51, 122, 183);
  color: #fff;
  border-left: 1px solid #fff;
  padding: 4px;
  cursor: default;
}
.ptr:nth-of-type(odd), .oddrow {
    background-color: rgb(233, 233, 233);
}
.ptr:nth-of-type(even), .evenrow {
    background-color: rgb(255, 255, 255);
}
.databox {
  /* background-color: #d9d9d9; */
  color: #000;
  border: 1px solid #888;
  padding: 4px;
  cursor: default;
}
.popover{
    max-width:600px;
}
.header {
  background-color: rgb(51, 122, 183);
  color: #fff;
  font-size: large;
  text-align: left;
  padding:8px 16px;
}
.toppleat {
  color: #000;
  background-color: #eee;
  text-align: left;
  padding: 8px 8px;
  cursor: pointer;
  /* height: 36px; */
}
.accordion-button {
  width: 25%;
  float: right;
}
.a-proj {
  color: #00f;
  font-weight: 700;
}
.toppleat:nth-child(odd) {
  background-color: #fff;
}
@media (max-width:1000px){

  /* Menu BreakPoint */
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {    float: none !important;}
  .navbar-toggle {    display: block;}
  .navbar-collapse {  border-top: 1px solid transparent;  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {    top: 0;    border-width: 0 0 1px;}
  .navbar-collapse.collapse { display: none!important;}
  .navbar-nav {float: none!important; margin-top: 7.5px;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a { padding-top: 10px;padding-bottom: 10px;}
  /* .collapse.in{display:block !important;} */
  .navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none; box-shadow: none;}

}
.titles {
  background-color: #337AB7;
  color: #fff;
  border-left: 1px solid #000;
  padding: 4px;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: x-small;
  text-transform:uppercase;
}
.subtitles {
  background-color: #34AEE8;
  color: #fff;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  cursor: default;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: x-small;
  text-transform:uppercase;
}
.datarow {
    color: #000;
    border: 1px solid #888;
    background-color: #fff;
    cursor: default;
}
.datarow:nth-child(even) {
    background-color: #d9d9d9;
}
.datacell {
    border: 1px solid #888;
    padding: 2px;
    font-size: x-small;
    cursor: default;
    /* text-align: left; */
}
.namebox {
  /* background-color: #fff; */
  color: #00f;
  border: 1px solid #888;
  padding: 4px;
  font-size: x-small;
}
.plainbox {
  /* background-color: #fff; */
  color: #000;
  border: 1px solid rgb(128, 128, 128);
  padding: 4px;
  font-size: x-small;
  cursor: default;
  vertical-align: middle !important;
}
.arrows {
  color:black;
  float:left;
  height:100%;
  padding:4px
}
.filtercol {
  display: inline-block;
}
.projecttable {
  margin-top: 15px;
  margin-bottom: 15px;
}
.lightbox {
  /* position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, .3); */
  display:none;
  cursor:pointer
}
#cboxClose {
  top: 0px !important;
}
a {
  color: #00f;
}
body {
  margin:0;
}

.btn-group {
  margin-right: 4px;
}
.fixedheader {
  position:sticky;
  top:65px;
  z-index: 1;
}
.hilite {
  background-color: #fcc;
}
.blulite {
  background-color: #cff;
}
.collapse {
  overflow: initial;
}
.overflow-everything {
  overflow-wrap: anywhere;
  /*min-width: 64px;
  max-width:128px; */
}

.ricontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 32px;

}

.ritile {
  flex: 1 1 478px;
}

.tilehead {
  background-color: rgb(245, 245, 245);
  color: #333;
  border-top: #ddd solid 1px;
  border-right: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  border-radius: 5px 5px 0px 0px;
}

.tilebody {
  background-color: #fff;
  color: #333;
  /* padding: 10px; */
  /* border-top: #000 solid 1px; */
  border-right: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  border-radius: 0px 0px 5px 5px;
}

.active {
  cursor: pointer;
}
.active:hover {
  text-decoration: underline;
}

.pagination {
  /* display: block; */
  /* width: 100%; */
  text-align: center;
  padding: 4px;
  box-shadow: 1px 1px 4px #ddd;
}

.pages {
  display: inline-block;
  padding: 0 6px;
}
.selectedpage {
  background-color: #08f;
  color: #fff;
  border-radius: 3px;
}
.searchfield {
  placeholder: normal;
}

.riskheader {
  background-color: #880;
}
.issueheader {
  background-color: rgb(51, 183, 122);
}
.typecolumn {
  width: 0;
}
.config-lightbox-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.config-lightbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.config-lightbox label {
  display: block;
  text-align: left;
  padding: 4px;
}
.config-lightbox input {
  margin: 4px;
}

.tt-suggestion {
  background-color: white;
}
.tt-menu, .tt-open {
  background-color: white !important;
}
.modal-content {
  margin-top: 60px;
}

.btn-primary {
  background-color: #337ab7; /* Bootstrap 3 primary color */
  border-color: #2e6da4; /* Bootstrap 3 primary border color */
  border-radius: 4px; /* Bootstrap 3 border radius */
  /* ... any other styles you want to override ... */
}
/* Override button styles for multiselect dropdown */
.btn-group .btn {
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Override caret styles for multiselect dropdown */
.multiselect.dropdown-toggle::after {
  border-top: 4px solid;
  margin-left: 5px;
  vertical-align: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/* Override dropdown-menu styles for multiselect dropdown */
.multiselect-container.dropdown-menu {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Override checkbox styles for multiselect dropdown */
.multiselect-container.dropdown-menu input[type="checkbox"] {
  margin-right: 5px;
}

body, .btn {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}
.dropdown-menu

.filtercol {
  display: inline-block !important;
}

.btn {
  display: inline-block;
}

.row {
  justify-content: center;;
}

.navbar {
  padding: 0;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 36px;
}

table th {
  vertical-align: middle;
}

.nav-link {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.oldbuttonclear {
  color: rgb(51, 51, 51);
  border-color: rgb(204, 204, 204); /* Bootstrap 3 primary border color */
  border-radius: 4px; /* Bootstrap 3 border radius */
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif
}
.oldbutton {
  color: #fff;
  background-color: #337ab7; /* Bootstrap 3 primary color */
  border-color: #2e6da4; /* Bootstrap 3 primary border color */
  border-radius: 4px; /* Bootstrap 3 border radius */
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif
}
.oldbutton:hover {
  color: #fff;
  background-color: #286090; /* Darker shade of primary color */
  border-color: #204d74; /* Corresponding border color */
}

.oldbutton:active {
  color: #fff;
  background-color: #204d74; /* Even darker for active state */
  border-color: #122b40; /* Corresponding border color */
}

/* This rule increases the font-size in the dropdowns */
.dropdown-menu {
  font-size: 1rem; /* Change this to the size you want */
}

/* This rule prevents the options from wrapping */
.dropdown-menu li > a {
  white-space: nowrap;
}

/* Adjust the style of the search input box */
.dropdown-menu .dropdown-item {
  font-size: 1rem; /* Change this to the size you want */
  color: #333; /* Change this to the color you want */
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
  color: #777
}

.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}